<div class="card">
  <div class="card-header">List your Property</div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #Form="ngForm">
      <div>
        <tabset #tabSet>
          <tab heading="Basic Info">
            <div class="form-group col-12 p-2">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                #propName="ngModel"
                ngModel
                name="Name"
                required
                minlength="5"
              />
              <span
                *ngIf="!propName.valid && propName.touched"
                class="error-block"
              >
                <span
                  *ngIf="
                    propName && propName.errors && propName.errors['required']
                  "
                  >Please provide a name</span
                >
                <span
                  *ngIf="
                    propName && propName.errors && propName.errors['minlength']
                  "
                  >Name must be at least five characters</span
                >
              </span>
            </div>
            <div class="form-group col-12 p-2">
              <label for="type">Type</label>
              <input type="text" class="form-control" ngModel name="Type" />
            </div>
            <div class="form-group col-12 p-2">
              <label for="price">Price</label>
              <input type="text" class="form-control" ngModel name="Price" />
            </div>
            <div class="d-grid p-2">
              <button
                type="button"
                class="btn btn-primary btn-block"
                (click)="selectTab(1)"
              >
                Next
              </button>
            </div>
          </tab>
          <tab heading="Pricing and Area">
            <div class="d-grid p-2">
              Pricing Information
              <button
                type="button"
                class="btn btn-primary btn-block m-2"
                (click)="selectTab(2)"
              >
                Next
              </button>
              <button
                type="button"
                class="btn btn-primary btn-block m-2"
                (click)="selectTab(0)"
              >
                Back
              </button>
            </div>
          </tab>
          <tab heading="Address">
            <div class="d-grid p-2">
              Address
              <button
                type="button"
                class="btn btn-primary btn-block m-2"
                (click)="selectTab(3)"
              >
                Next
              </button>
              <button
                type="button"
                class="btn btn-primary btn-block m-2"
                (click)="selectTab(1)"
              >
                Back
              </button>
            </div>
          </tab>
          <tab heading="Other Details">
            <div class="d-grid p-2">
              Other Details
              <button
                type="button"
                class="btn btn-primary btn-block m-2"
                (click)="selectTab(4)"
              >
                Next
              </button>
              <button
                type="button"
                class="btn btn-primary btn-block m-2"
                (click)="selectTab(2)"
              >
                Back
              </button>
            </div>
          </tab>
          <tab heading="Photos">
            <div class="d-grid p-2">
              Upload Photos
              <button
                type="button"
                class="btn btn-primary btn-block m-2"
                (click)="selectTab(3)"
              >
                Back
              </button>
            </div>
          </tab>
        </tabset>
      </div>
    </form>
  </div>
</div>
